In [4]:
from pathlib import Path
import pandas as pd
from zipfile import ZipFile

PENSE_DATA = Path('../data/raw/PENSE_2019/PENSE_2019.zip').resolve()
zip_pense = ZipFile(PENSE_DATA)
path_unzip = zip_pense.namelist()[0]
df = pd.read_csv(zip_pense.open(path_unzip), sep=",")

In [5]:
df

,REGIAO,UF,MUNICIPIO_CAP,TIPO_MUNIC,SITUACAO,DEP_ADMIN,ESFERA,ESCOLA,TURMA,ALUNO,...,E01P65A,E01P66A,E01P26A,E01P27A,ESTRATO,IND_EXPANSAO,PESO_ALUNO_FREQ,PESO_INICIAL,POSEST,TOTAIS_POSEST
0,1,11,0,2.0,1.0,2.0,4.0,4,1,21,...,2.0,2.0,4.0,2.0,1101,1,4.361431,3.409091,1100000PRI1,1767
1,1,11,0,2.0,1.0,2.0,4.0,23,1,9,...,1.0,2.0,4.0,2.0,1101,1,3.838060,3.000000,1100000PRI1,1767
2,1,11,0,2.0,1.0,2.0,4.0,2,1,3,...,2.0,1.0,4.0,2.0,1101,1,2.934987,2.294118,1100000PRI1,1767
3,1,11,0,2.0,1.0,2.0,4.0,18,1,19,...,2.0,2.0,4.0,2.0,1101,1,4.786546,3.741379,1100000PRI1,1767
4,1,11,0,2.0,2.0,2.0,4.0,8,1,2,...,1.0,1.0,4.0,2.0,1101,1,4.535889,3.545455,1100000PRI1,1767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165833,5,53,5300108,1.0,1.0,1.0,2.0,13,2,25,...,2.0,4.0,4.0,1.0,5306,1,118.007834,95.277778,5300108PUB3,84099
165834,5,53,5300108,1.0,1.0,1.0,2.0,4,3,7,...,2.0,4.0,3.0,2.0,5306,1,51.020772,41.193416,5300108PUB3,84099
165835,5,53,5300108,1.0,1.0,1.0,2.0,1,1,1,...,2.0,4.0,4.0,1.0,5306,1,136.578682,110.271605,5300108PUB3,84099
165836,5,53,5300108,1.0,1.0,1.0,2.0,13,3,9,...,2.0,4.0,4.0,1.0,5306,1,113.724925,91.819820,5300108PUB3,84099
165837,5,53,5300108,1.0,1.0,1.0,2.0,13,3,24,...,2.0,4.0,4.0,1.0,5306,1,113.724925,91.819820,5300108PUB3,84099